
  <div class="card" style="width: 450px;" >

    <div class="card-body" pt-6>
      <div class="form-floating mb-3">
        <input [(ngModel)]="user.nombre" type="email" class="form-control" id="floatingInput" placeholder="Nombre" >
        <label for="floatingInput">Usuario</label>
      </div>
      <div class="form-floating">
        <input [(ngModel)]="user.pass" type="password" class="form-control" id="floatingPassword" placeholder="Password" >
        <label for="floatingPassword">Contrasena</label>
      </div>
    </div>
    <button type="button" (click)="validar()" class="btn btn-primary btn-sm" >Enviar</button>
  </div>



